# dependencies
node_modules

# production
dist
.output
.nuxt

# Nuxt dev/build files
.nitro
.nuxt-temp

# system files
.DS_Store
Thumbs.db

# environment variables
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local IDE/editor settings
.vscode
.idea
